<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
    <h1>LAUNCH!!!!!</h1>
    <div>
        <p>Congratulations! HQ has sent You need to launch the rocket using the code:</p>
        <h1 style="color: red;">{{ LAUNCH_CODE }}</h1>
        <p>Enter the code on the keypad and press <b>#</b> to confirm.</p>
    </div>
    <button onclick="location.href='{{ url_for('victory') }}'">End Screen</button>

</body>
</html>