<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <h1>LAUNCH!!!!!</h1>
    <!-- PLEASE WRITE THE INSTRUCTIONS BETWEEN HERE -->
    <!--- Explaination of puzzle 1 here, this is meant to tell them how the puzzle works/what to do-->
    <div>
        <p>Congractulations Crackers, you have restored power to the facility and rebuilt the backup communications antenna, now you need to launch the rocket with the keys, which are inside the box</p>
        <p>HQ has sent you the code to the safe, which contains the keys.</p>
        <p>The code is:</p>
        <h1>{{ LAUNCH_CODE }}</h1>
    </div>
</body>
</html>