<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <h1>Puzzle 2</h1>
    <!-- PLEASE WRITE THE INSTRUCTIONS BETWEEN HERE -->
    <!--- Explaination of puzzle 2 here, this is meant to tell them how the puzzle works/what to do-->
    <div>
        <p>With power restored, the consoles of the facility blink back to life, with one in particular catching your eye. Being a system designed for war, the rocket was engineered to be ready to launch at a moment's notice, and as such all the other systems on the rocket itself are launch-ready, however to authorize the launch of the rocket a specific code must be inputted on the flashing keypad you find before you. A code which, in the scramble to mobilize you to this facility, HQ had neglected to tell you. Unfortunately, the main radio communications system of the base has broken down from the lack of maintenance, and the radio of the backup antenna you found has not been properly calibrated to the frequency HQ's emergency radio transmits at. You must now alter the antenna itself to tune it to the right frequency in order to radio in to HQ and get the code from them.</p>
        <p>luca yap here</p>

    </div>
    <!-- AND HERE -->
    <button onclick="location.href='/'">Back</button>
</body>
</html>