<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<body>
    <h1>Puzzle 2</h1>
    <!-- PLEASE WRITE THE INSTRUCTIONS BETWEEN HERE -->
    <!--- Explaination of puzzle 2 here, this is meant to tell them how the puzzle works/what to do-->
    <div>
        <p>With power restored, the consoles of the facility blink back to life, with one in particular catching your eye. Being a system designed for war, the rocket was engineered to be ready to launch at a moment's notice, and as such all the other systems on the rocket itself are launch-ready, however to authorize the launch of the rocket a specific code must be inputted on the flashing keypad you find before you. A code which, in the scramble to mobilize you to this facility, HQ had neglected to tell you. Unfortunately, the main radio communications system of the base has broken down from the lack of maintenance, and the backup antenna does not work<p>.</p>
        <p> You find a post-it under the desk that says:</p>
    <div class="postit">
        <p>Jeff TODO 12/05/1987:</p>
        <p> - Buy Paul Donuts for his birthday</p>
        <p> - Fix Backup Antenna</p>
        <p> - Collect cat from the vets</p>
    </div>
    </div>
    <!-- AND HERE -->
    <button onclick="location.href='/'">Back</button>
    <button onclick="location.href='/puzzle2/checkCompletion'">Check Puzzle 2</button>
</body>
</html>