<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<body>
    <h1>congratulations</h1>
    <!-- PLEASE WRITE THE INSTRUCTIONS BETWEEN HERE -->
    <!--- Explaination of puzzle 2 here, this is meant to tell them how the puzzle works/what to do-->
    <div>
        <h2>The rocket jolts back to life with the entering of the code and lurches into the air. After a few minutes of tense anticipation you receive the message from HQ: The asteroid is as good as gone. Humanity lives another day, thanks to you!</h2>
        <p>Thank you for playing</p>
        <p>Credit goes to:</p>
        <p>Luca Krishnan</p>
        <p>Anton Chernyshov</p>
        <p>Lev Balabin</p>
        <p>Ming Yan Chan</p>
        <p>Zijiao Zhou</p>

    </div>
    <!-- AND HERE -->
    <button onclick="location.href='{{ url_for('resetSafe') }}'">RESET SAFE</button>
</body>
</html>