<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <h1>CONGRACTULATIONS</h1>
    <!-- PLEASE WRITE THE INSTRUCTIONS BETWEEN HERE -->
    <!--- Explaination of puzzle 2 here, this is meant to tell them how the puzzle works/what to do-->
    <div>
    <h2>With the Earth now saved, you have unlocked the safe and won!!!</h2>
    <p>Thank you for playing</p>
    <p>Credit goes to:</p>
    <p>Luca Krishnan</p>
    <p>Anton Chernyshov</p>
    <p>Lev Balabin</p>
    <p>Zijiao Zhou</p>
    <p>Ming Yan Chan</p>
    <p>And of course,</p>
    <h2>You!!!!</h2>
    </div>
    <!-- AND HERE -->
    <button onclick="location.href='/resetSafe'">RESET SAFE</button>
</body>
</html>